/modules/pytket-aqt/ @cqc-melf
/modules/pytket-cirq/ @sjdilkes
/modules/pytket-ionq/ @Roland-djee
/modules/pytket-projectq/ @lmondada
/modules/pytket-pyquil/ @sjdilkes @lmondada
/modules/pytket-pysimplex/ @cqc-alec
/modules/pytket-pyzx/ @cqc-alec
/modules/pytket-qiskit/ @ss2165
/modules/pytket-qsharp/ @cqc-alec
/modules/pytket-qulacs/ @Roland-djee
/modules/pytket-stim/ @cqc-alec
